h2{
  display: block;
  width: 100vw;
}
body #root{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
body #root > div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.main-card{
  height:200px;
  width:150px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin:5px;
  padding: 3px;
  border: 1px solid lightgray;
  
}
.img img{
  object-fit:contain;
  height: 90px;
  width:90px;
}
.main-card .title{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#disabled{
  opacity: 0.6;
  cursor: not-allowed;
}
.remove{
  display: flex;
  align-items: center;
}
h3{
  display:block;
  margin-right:10px;
}
select{
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
}
